.env
serve.ps1
Run.ps1
venv
faiss_index
tests
data
.vscode
qa1.csv
qa2.csv
refference
test.ipynb
test2.ipynb
test3.ipynb
test4.ipynb
test5.ipynb
test6.ipynb
pp.ipynb
.gitingore
README.md
prototype.ipynb